@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC&family=Roboto+Mono:wght@400;500;600&family=Source+Code+Pro:wght@400;600;700&family=Zen+Antique&display=swap');

body {
  font-family: 'Source Code Pro';
  margin: 0;
  background: #fff;
}

.container {
  height: 48rem;
}

.mainViewDctnry {
  position: relative;
  left: 20.5rem;
  bottom: 53.9rem;
  height: 53.8rem;
  width: 98.1rem;
  max-height: 53.8rem;
  display: flex;
  /* outline: 1px solid red; */
}

/* -- HEADBAR STYLES -- */

.headbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 10px;
  /* height: 4rem; */
  background: linear-gradient(#2b4570, #5068b7);
}

.headbarContainer.thesaurus {
  background: linear-gradient( rgba(12, 70, 22, 1) ,rgba(12, 70, 22, .8));
}

.appLogo {
  position: relative;
  right: 18rem;
  bottom: 0px;
  font-size: 1.3rem;
  font-family: 'Zen Antique';
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 2px 5px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.appLogo.opened {
  position: relative;
  right: 13.5rem;
  box-shadow: 3px -3px 8px #2b4570, -3px 3px 8px #2b4570;
}

.appLogo span {
  color: red;
  pointer-events: none;
}

.searchbarContainer {
  position: relative;
  right: 17rem;
  top: 14px;
  width: 40rem;
  height: 2.3rem;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid #e2dfdf;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.searchbar {
  position: relative;
  left: 5px;
  top: -1.5px;
  width: 35rem;
  height: 2rem;
  font-size: 20px;
  padding: 3px 5px;
  border: none;
  /* outline: 1px solid #e2dfdf; */
}

.searchbar:focus {
  outline: none;
}

.searchbarBtn {
  position: relative;
  bottom: 3px;
  left: 3px;
  height: 2.5rem;
  width: 3rem;
  padding: 2px;
  /* border-radius: 50%; */
  /* outline: 1px solid #e2dfdf ; */
  cursor: pointer;
}

.searchbarBtn:hover {
  background: #e2dfdf;
}

.searchbarBtn img {
  position: relative;
  left: 8px;
  top: 4px;
  height: 30px;
  width: 30px;
  pointer-events: none;
}

/* -- MAIN VIEW DICTIONARY STYLES -- */

.mainWordContainer {
  position: relative;
  /* left: 19.5rem; */
  width: 96rem;
  z-index: 1;
  /* outline: 1px solid red; */
}

.dctnryViewWord {
  position: relative;
  left: 6rem;
  top: 5rem;
  height: 45rem;
  width: 70rem;
  outline: 3px solid #5068b7;
}

.dctnryBtn {
  position: relative;
  bottom: 2.1rem;
  right: 3px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 800; 
  color: #e5ece9;
  padding: 2px 5px; 
  width: 12rem;
  border-radius: 10px 10px 0px 0px;
  background: #5068b7;
  cursor: pointer;
}

.dctnryBtn:hover {
  background: #2b4570;
}


.thsrsBtn {
  position: relative;
  bottom: 4.1rem;
  left: 57.55rem;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 800; 
  color: #e5ece9;
  padding: 2px 5px; 
  width: 12rem;
  border-radius: 10px 10px 0px 0px;
  background: rgba(12, 70, 22, .8);
  cursor: pointer;
}

.thsrsBtn:hover {
  background: rgba(12, 70, 22, 1);
}

.mainInfoWrd {
  position: relative;
  left: 2rem;
  width: 65rem;
  height: 7rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
}

.searchedWord {
  position: relative;
  right: 4rem;
  top: 1.6rem;
  width: 14rem;
  font-size: 2.5rem;
  text-align: center;
  padding: 2px 5px; 
  /* outline: 1px solid magenta; */
}

.audioWord {
  position: relative;
  right: 7rem;
  top: 4.2rem;
  height: 2.5rem;
  width: 2.5rem;
  background-image: url('./images/speakerIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* outline: 1px solid black; */
}

.audioWord:hover {
  border-radius: 10px;
  outline: 1px solid #e2dfdf;
}

.saveWrdBtn {
  position: relative;
  left: 7rem;
  top: 4.5rem;
  height: 2rem;
  /* width: 3rem; */
  font-size: 20px;
  font-weight: 600;
  padding: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid gray;
}

.saveWrdBtn:hover {
  outline: none;
  background: #e2dfdf;
}

.prnctnWord {
  position: relative;
  left: 3rem;
  top: 2.7rem;
  font-size: 1.6rem;
  height: 2.2rem;
  width: 16rem;
  text-align: center;
  padding: 2px 5px; 
  /* outline: 1px solid black; */
  overflow: hidden;
}

.typeWrd {
  position: relative;
  left: 4.5rem;
  bottom: 10px;
  width: 13rem;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  /* outline: 1px solid red; */
}

.mainWrdDef {
  position: relative;
  left: 3rem;
  bottom: 10px;
  height: 9rem;
  width: 63rem;
  font-size: 22px;
  /* outline: 1px solid blue; */
}

.otherMeaningsCntr {
  position: relative;
  bottom: 4rem;
  /* outline: 1px solid red; */
}

.otherMeaningsWrd {
  position: relative;
  left: 3rem;
  top: 2rem;
  width: 55rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 1px solid black;
}

.otherDefsWrdCntr {
  position: relative;
  top: 2rem;
  /* margin-top: 5px; */
  left: 3rem;
  width: 60rem;
  height: 5rem;
  display: flex;
  border-bottom: 1px solid black;
}

.meaningNmb {
  position: relative;
  left: 10px;
  /* bottom: 5px; */
  font-size: 1.5rem;
  color: gray;
  /* outline: 1px solid blue; */
}

.otherDefWrd {
  position: relative;
  left: 20px;
  top: 10px;
  width: 56rem;
  font-size: 18px;
  height: 3rem;
  overflow: hidden;
  /* outline: 1px solid red; */
}

/* -- THESAURUS STYLES -- */

.thsrsViewWord {
  position: relative;
  left: 6rem;
  top: 5rem;
  height: 45rem;
  width: 70rem;
  outline: 3px solid #5068b7;
}

.thsrsViewWord.thesaurus {
  outline: 3px solid rgba(12, 70, 22, .8);
}

.synmsHeading {
  position: relative;
  left: 2rem;
  width: 14rem;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 3px;
  padding: 2px 5px;
  border-bottom: 1px solid gray;
}

.synmsContainer {
  position: relative;
  bottom: 25px;
  left: 2rem;
  width: 50rem;
  height: 9rem;
  padding: 0px 10px;
  /* outline: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(5, 10.5rem);
  grid-template-rows: 35px 35px 35px 35px;
}

.synonymWrd, .antnymWrd {
  height: 1.2rem;
  width: 9rem;
  padding: 2px 5px;
  font-weight: 600;
  /* outline: 1px solid gray; */
  box-shadow: 0px 1px 0px #e2dfdf;
  cursor: pointer;
  border-radius: 2px;
}

.synonymWrd:hover, .antnymWrd:hover {
  outline: none;
  background: #e2dfdf;
}

.synonymWrd:active, .antnymWrd:active {
  outline: 1px solid #758bfd;
  background: none;
}

.antnymHeading {
  position: relative;
  left: 2rem;
  bottom: 2rem;
  width: 14rem;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 3px;
  padding: 2px 5px;
  border-bottom: 1px solid gray;
}

.antnymContainer {
  position: relative;
  left: 2rem;
  bottom: 3.5rem;
  width: 50rem;
  height: 9rem;
  padding: 0px 10px;
  /* outline: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(5, 10.5rem);
  grid-template-rows: 35px 35px 35px 35px;
}

/* -- WORD OF DAY STYLES -- */

.wrdOfDayCntr {
  position: relative;
  /* left: 7rem; */
  width: 96rem;
  /* outline: 1px solid red; */
}

.wordHeading {
  position: relative;
  left: 18rem;
  top: 3rem;
  width: 40rem;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 3px;
  padding: 2px 5px;
  /* outline: 1px solid black; */
}

.pron-audioContainer {
  position: relative;
  top: 1rem;
  left: 12rem;
  width: 55rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
  padding: 2px 25px;
  border-bottom: 1px solid gray;
}

.prnctnWrd {
  position: relative;
  top: 2px;
  left: 3rem;
  height: 2.2rem;
  padding: 0px 1.8rem 0px 0px;
  border-right: 1px solid black;
}

.audioWrd {
  position: relative;
  top: 2px;
  right: 1.5rem;
  height: 2.2rem;
  width: 2.5rem;
  background-image: url('./images/speakerIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  /* outline: 1px solid red; */
}

.audioWrd:hover {
  outline: 1px solid #e2dfdf;
}

.lineBreak {
  position: relative;
  right: 6.2rem;
  top: 2px;
  height: 2.3rem;
  border-left: 1px solid black;
}

.saveBtn {
  position: relative;
  top: 2px;
  right: 10rem;
  height: 2rem;
  width: 5rem;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid gray;
}

.saveBtn:hover {
  outline: none;
  background: #e2dfdf;
}

.infoWrdMngContainer {
  position: relative;
  left: 2rem;
  top: 2rem;
  width: 80rem;
  height: 10rem;  
  /* outline: 1px solid red; */
  box-shadow: 1px 1px 6px #e2dfdf, -1px -1px 6px #e2dfdf;
}

.dfntnHeading {
  position: relative;
  top: 12px;
  left: 12px;
  height: 1.7rem;
  width: 12rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
  padding: 2px 5px;
  /* outline: 1px solid black; */
}

.mainDefWrd {
  position: relative;
  top: 4px;
  left: 12px;
  width: 70rem;
  height: 3rem;
  font-size: 22px;
  padding: 2px 5px;
  /* outline: 1px solid blue; */
}

.exmapleContainer {
  position: relative;
  left: 2rem;
  top: 2rem;
  width: 80rem;
  height: 10rem;  
  /* outline: 1px solid red; */
  box-shadow: 1px 1px 6px #e2dfdf, -1px -1px 6px #e2dfdf;
}

.exampleHeading {
  position: relative;
  top: 8px;
  right: 8px;
  height: 1.7rem;
  width: 12rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
  padding: 2px 5px;
}

.exampleOfWrd {
  position: relative;
  top: 4px;
  left: 12px;
  width: 70rem;
  height: 3rem;
  font-size: 22px;
  padding: 2px 5px;
}

.mainSynonymCntr {
  position: relative;
  left: 2rem;
  top: 2rem;
  width: 80rem;
  height: 12rem;  
  box-shadow: 1px 1px 6px #e2dfdf, -1px -1px 6px #e2dfdf;
}

.synonymHeading {
  position: relative;
  top: 8px;
  right: 8px;
  height: 1.7rem;
  width: 12rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
  padding: 2px 5px;
}

.synonymsCntr {
  position: relative;
  left: 10px;
  height: 7rem;
  width: 70rem;
  display: grid;
  grid-template-columns: repeat(5, 10.5rem);
  grid-template-rows: 35px 35px 35px 35px;
  /* outline: 1px solid black;  */
}

.synDayWrd {
  position: relative;
  /* left: 20px; */
  height: 1.2rem;
  width: 9rem;
  padding: 2px 5px;
  font-weight: 600;
  outline: 1px solid gray;
  cursor: pointer;
  border-radius: 8px;
}

.synDayWrd:hover {
  outline: none;
  background: #e2dfdf;
}

.synDayWrd:active {
  outline: 1px solid #758bfd;
  background: none;
}

/* -- SIDEBAR STYLES -- */

.sidebar {
  position: relative;
  /* bottom: 15px; */
  height: 53.6rem;
  width: 19rem;
  margin-left: -300rem;
  background: linear-gradient(to right,#2b4570, #5068b7);
  color: #e5ece9;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2px 10px;
  box-shadow: 3px -3px 8px #2b4570;
  /* border-bottom: 1px solid #2b4570; */
  outline: 1px solid black;
  z-index: 0;
  transition: margin .5s;
}

.sidebar.active {
  /* right: 96rem; */
  margin-left: 0;
  transition: margin .125s;
}

.sidebar.thesaurus {
  background: linear-gradient(to right, rgba(12, 70, 22, 1) ,rgba(12, 70, 22, .8));
  box-shadow: 3px -3px 8px rgba(12, 70, 22, 1);
}

.wordOfDay, .suggestWord, .savedWords {
  position: relative;
  bottom: -4rem;
  left: 1rem;
  width: 15rem;
  text-align: center;
  padding: 2px 5px;
  cursor: pointer;
  /* outline: 1px solid red; */
}

.wordOfDay:hover, .suggestWord:hover, .savedWords:hover {
  text-decoration: underline;
  /* box-shadow: 0px 1px 3px #e5ece9,  0px -1px 3px #e5ece9; */
}

.savedWrdsContainer {
  position: relative;
  bottom: .5rem;
  height: 16rem;
  border-radius: 10px;
  outline: 1px solid #2b4570;
  padding: 5px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.125s;
}

.savedWrdsContainer.active {
  opacity: 1;
}

.savedWrdsContainer::-webkit-scrollbar {
  width: 10px;
  background: #5068b7;
  border-radius: 0px 10px 10px 0px;
}

.savedWrdsContainer::-webkit-scrollbar-thumb {
  background: #2b4570;
  border-radius: 10px;
}

.savedWrdsContainer.thesaurus {
  outline: 1px solid rgba(12, 70, 22, 1);
}

.savedWrdsContainer.thesaurus::-webkit-scrollbar {
  width: 10px;
  background: rgba(12, 70, 22, .3);
  border-radius: 0px 10px 10px 0px;
}

.savedWrdsContainer.thesaurus::-webkit-scrollbar-thumb {
  background: rgba(12, 70, 22, 1);
  border-radius: 10px;
}

.indSavedWrd {
  position: relative;
  left: 2.2rem;
  width: 13rem;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 2px 5px;
  cursor: pointer;
  /* outline: 1px solid white; */
}

.indSavedWrd:hover {
  text-decoration: underline;
}

/* savedWrdsContainer */

/* 
const IndSavedWord = () => {
    return (
        <p className='indSavedWrd'>Saved Word</p>
    )
}

export default IndSavedWord; */